/DJMaxEditor/bin
/DJMaxEditor/obj
/install
tools
/ideas.txt
/info.txt
/video-128.png
/DJMaxEditor/Resources/*.psd
Thumbs.db
/DJMaxEditor/libs/NVorbis
/.vs/DJMaxEditor/v14/*.suo
/*.suo
/DJMaxEditor/*.user
/*.dec
Debug
Release
packages
*.suo
*.vs
*.psess
